<header class="app-header navbar">
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav mr-auto d-md-down-none">
        <li class="nav-item">
            <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav" *ngFor="let x of MasterList">
                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                    <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i> {{x.tag}}</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item" *ngFor="let y of x.child">
                            <a class="nav-link" routerLinkActive="active" routerLink="/{{y.tag}}"><i class="icon-puzzle"></i> {{y.tag}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumbs></app-breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="#">Root</a> &copy; 2018.
    <span class="float-right">Powered by <a href="#">AngularUI</a>
    </span>
</footer>